BasedOnStyle: LLVM
IndentWidth: 4
ContinuationIndentWidth: 4
ColumnLimit: 100
BreakBeforeBraces: Attach
AllowShortBlocksOnASingleLine: Never
AllowShortFunctionsOnASingleLine: Empty
AllowShortIfStatementsOnASingleLine: Never
AllowShortLoopsOnASingleLine: false
AllowShortLambdasOnASingleLine: Empty
AllowShortCaseLabelsOnASingleLine: false
BinPackArguments: true
BinPackParameters: OnePerLine
SortIncludes: Never
SortUsingDeclarations: Never
BreakStringLiterals: false
ReflowComments: Never
FixNamespaceComments: false
PointerAlignment: Left
DerivePointerAlignment: false
